<div class="page-foot section section--theme-light">
  <div class="container">
    <div class="row">
      <div class="column column--md-3 column--lg-5">
        <h4 class="heading heading--sm">About</h4>

        <div class="page-foot__description">
          <p>Internet Curated is a collection of all the best curated resources on the internet.</p>
          <p>Created by <a href="#">@piotrkulpinski</a> and <a href="#">@janwennesland</a></p>
        </div>
      </div>

      <div class="column column--md-2 column--md-offset-1 column--lg-2 column--lg-offset-3">
        <h4 class="heading heading--sm">Navigation</h4>

        <ul class="nav-secondary">
          <li class="nav-secondary__item"><a href="#">Home</a></li>
          <li class="nav-secondary__item"><a href="#">Collections</a></li>
          <li class="nav-secondary__item"><a href="#">About</a></li>
          <li class="nav-secondary__item"><a href="#">Submit</a></li>
        </ul>
      </div>

      <div class="column column--lg-2 visible-lg-block">
        <h4 class="heading heading--sm">Follow</h4>

        <ul class="nav-secondary">
          <li class="nav-secondary__item"><a href="#">Facebook</a></li>
          <li class="nav-secondary__item"><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.section -->
