<footer class="page-foot section section--compact">
  <div class="container">
    <div class="page-foot__inner">
      <p class="page-foot__copy">&copy; Internet Curated 2016</p>
      <p class="page-foot__credits"><a href="http://chipmunktheme.com" target="_blank">Chipmunk WordPress Theme <img src="images/chipmunk.png" alt="" /></a></p>
    </div>
    <!-- /.page-foot__inner -->
  </div>
  <!-- /.container -->
</footer>
<!-- /.page-foot -->
