<a href="#" class="entry column">
	<div class="entry__image" style="background-image: url(http://placehold.it/888x540?text=Blog+post)"></div>

	<div class="entry__head">
		<ul class="entry__stats stats">
			{% include '../partials/post-stats.twig' with { collections: post.categories } %}
		</ul>

		<h1 class="entry__title">{{ post.title }}</h1>

		<div class="entry__content content">
      {{ post.content }}
		</div>
		<!-- /.entry -->

		<button type="button" class="entry__button button button--secondary">Read more</button>
	</div>
	<!-- /.entry__head -->
</a>
