{% if collections %}
  <li class="stats__item" title="Collections">
    {% include '../partials/icon.twig' with { 'icon': 'tag' } %}

    {% if collections == 'compact' %}
      <a href="#" class="stats__tag">Marketing</a>
      <span class="stats__tag stats__tag--dimmed">+{{ random(5) + 1 }} more</span>
    {% else%}
      {% for collection in collections %}
        <span class="stats__tag">{{ collection }}</span>
      {% endfor %}
    {% endif %}
  </li>
{% endif %}

<li class="stats__item" title="Published: {{ random(30) + 1 }}. August">
  {% include '../partials/icon.twig' with { 'icon': 'clock' } %}

  {{ random(30) + 1 }}. August
</li>

<li class="stats__item" title="Views">
  {% include '../partials/icon.twig' with { 'icon': 'eye' } %}

  {{ random(500) }}
</li>

{% if upvote %}
  <li class="stats__item {{ not collections ? 'stats__item--sided' }}" title="Upvotes">
    <button class="stats__button" title="Upvote">
      {% include '../partials/icon.twig' with { 'icon': 'arrow-up' } %}
      
      {{ random(100) }}
    </button>
  </li>
{% endif %}