/*
** Module - Card
** -----------------------------------------------------------------------------*/

.card {
  margin-top: $separator;
}

.card__image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-bottom: 70%;
  }
}

.card__title {
  margin-top: $separator;
  color: $color-black;
  font-family: $font-heading;
  font-size: calc(#{$size-content} * 0.9);
  font-weight: bold;
  line-height: 1.4;
  word-break: break-all;

  @include breakpoint(md) {
    font-size: $size-content;
  }
}

.card__copy {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  opacity: 0.85;

  .content &:not(:first-child) {
    margin-top: 0;
  }
}

.card__handle {
  font-size: 1.6rem;

  &:hover {
    color: $color-black;
  }
}
