/*
** Module - Comment
** -----------------------------------------------------------------------------*/

.comment {
  display: flex;
  flex-wrap: nowrap;
  margin-top: $separator;
  line-height: 1.65;

  @include breakpoint(md) {
    margin-top: ($separator * 2);
  }

  & + .children {
    margin-left: $separator;

    @include breakpoint(md) {
      margin-left: ($separator * 3);
    }
  }
}

.comment__image {
  margin-right: $separator;

  img {
    border-radius: 50%;
  }
}

.comment__info {
  flex: 1;
}

.comment__title {
  display: inline-block;
  margin-right: 0.5em;
  color: $color-black;
  font-weight: bold;
  vertical-align: middle;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }
}

.comment__date {
  display: inline-block;
  color: $color-gray;
  font-size: 0.9em;
  transition: color $transition-duration;
  vertical-align: middle;

  @include breakpoint(lg) {
    color: $color-gray-light;

    .comment:hover & {
      color: $color-gray;
    }
  }
}

.comment__content {
  @include breakpoint(md) {
    font-size: 2.2rem;
  }

  p:not(:first-child) {
    margin-top: 0.8em;
  }
}

.comment__reply {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5em;

  a {
    display: inline-block;
    font-size: 1.4rem;

    &::before {
      margin-right: 1em;
      font-size: 1.2rem;
      vertical-align: middle;
    }

    &:hover {
      color: $color-black;
    }
  }

  .icon {
    margin-right: 0.5em;
    opacity: 0.75;
  }
}

.comment__note {
  margin-top: 1em;
  font-style: italic;
}

.comment-respond {
  &:not(:first-child) {
    margin-top: ($separator * 2);

    @include breakpoint(md) {
      margin-top: ($separator * 4);
    }
  }

  p {
    text-align: left;

    &:not(:first-child) {
      margin-top: $separator;

      &.form-submit {
        @include breakpoint(md) {
          margin-top: ($separator * 2);
        }
      }
    }

    a {
      &:hover {
        color: $color-black;
      }
    }
  }

  label {
    cursor: pointer;
  }

  [type="checkbox"] {
    margin-right: 0.5em;
  }
}
