/*
** Module - Entry
** -----------------------------------------------------------------------------*/

.entry {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }

  &:not(:last-child) {
    margin-bottom: ($separator * 2);

    @include breakpoint(md) {
      margin-bottom: ($separator * 3);
    }
  }

  &[href]:hover {
    .entry__image,
    .entry__title,
    .entry__content {
      opacity: 0.8;
    }
  }
}

.entry__hero {
  $head-outer-height: ($head-height + $separator);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(50vh + #{$head-outer-height});
  min-height: calc(36rem + #{$head-outer-height});
  max-height: calc(75rem + #{$head-outer-height});
  margin-top: calc(-#{$head-outer-height});
  padding-top: calc(#{$head-outer-height});
  background-color: rgba($color-black, 0.9);
  overflow: hidden;

  @include breakpoint(md) {
    $head-outer-height: ($head-height + $separator * 2);

    height: calc(40vh + #{$head-outer-height});
    min-height: calc(55vw + #{$head-outer-height});
    margin-top: calc(-#{$head-outer-height});
    padding-top: calc(#{$head-outer-height});
  }

  @include breakpoint(lg) {
    $head-outer-height: ($head-height + $separator * 3);

    height: auto;
    min-height: calc(45rem + #{$head-outer-height});
    margin-top: calc(-#{$head-outer-height});
    padding-top: calc(#{$head-outer-height});

    @media (min-height: 800px) {
      height: calc(60vh + #{$head-outer-height});
    }
  }

  .entry__title {
    color: inherit;
  }
}

.entry__background {
  @include u-cover(0.33, $color-black);
  @include u-object-fit;
  @include u-overlay;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  transition: opacity $transition-duration;
}

.entry__details {
  position: relative;
  z-index: $layer-base;
  color: $color-white;
}

.entry__image {
  display: block;
  transition: opacity $transition-duration;

  &:not(:last-child) {
    margin-bottom: $separator;

    @include breakpoint(md) {
      margin-bottom: ($separator * 2);
    }
  }

  &[href]:hover {
    opacity: 0.8;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.entry__head {
  &:only-child,
  &:not(:last-child) {
    margin-bottom: $separator;

    @include breakpoint(md) {
      margin-bottom: ($separator * 2);
    }
  }
}

.entry__title {
  transition: opacity $transition-duration;

  &:not(:first-child) {
    margin-top: $separator;
  }

  &:not(:last-child) {
    margin-bottom: $separator;
  }

  a {
    display: inline-block;

    &:hover {
      color: $color-gray-dark;
    }
  }

  [href] & {
    color: $color-black;
  }
}

.entry__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -($separator / 2);
  margin-left: -$separator;
  opacity: 0.8;

  > * {
    margin-left: $separator;
    padding-top: ($separator / 2);
  }
}

.entry__content,
.entry__extras,
.entry__footer {
  transition: opacity $transition-duration;

  &:not(:first-child):not(:empty) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 1.5);
    }
  }
}

.entry__footer {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-socials {
    &:not(:first-child) {
      margin-top: $separator;

      @include breakpoint(md) {
        margin-top: 0;
      }
    }
  }
}

.entry__column {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}

.entry__author {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  line-height: 1.2;

  img {
    margin-right: ($separator / 2);
    border-radius: 50%;
  }

  strong {
    display: inline-block;
    font-weight: bold;
  }
}

.entry__button {
  display: inline-block;
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: ($separator * 2);
  }

  .entry[href]:hover & {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}
