/*
** Module - Filter
** -----------------------------------------------------------------------------*/

.filter {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    @include breakpoint(lg) {
      margin-right: $separator * 2;
    }
  }
}

.filter__group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include breakpoint(md) {
    margin-top: 0;
  }

  @include breakpoint(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
  }
}

.filter__select {
  ~ .select2-container {
    font-size: 1.4rem;

    @include breakpoint(lg) {
      width: 150px !important;
      font-size: 1.6rem;
    }

    .select2-dropdown {
      background-color: $color-background;
    }

    .select2-results__option {
      padding: 0.5em 1.5rem;

      [aria-selected=true] {
        color: $color-white;
      }
    }

    .select2-results__option--highlighted[aria-selected=false] {
      color: $color-black;
    }

    .select2-selection {
      .select2-selection__rendered {
        padding-top: 4px;
        padding-bottom: 4px;

        @include breakpoint(lg) {
          border-bottom-width: 2px;
        }
      }
    }
  }
}

.filter__title {
  margin-right: $separator;
  font-size: 1.4rem;

  @include breakpoint(lg) {
    font-size: 1.6rem;
  }
}
