/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 1.5);
    }
  }

  &--compact {
    text-align: center;
  }

  &.is-loading::after {
    font-size: 5rem;
  }

  [data-consent] {
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .comment-subscription-form {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    label {
      margin-left: 0.25em;
      font-weight: normal;
    }
  }
}

.form__content {
  transition: opacity $transition-duration;

  .is-loading & {
    opacity: 0.25;
  }
}

.form__input {
  display: inline-block;
  width: 100%;
  // max-height: calc(5 * 1.6em + 1rem);
  padding: 0.5rem 0;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  border-radius: 0;
  color: inherit;
  font-size: calc(#{$size-content} * 0.9);
  line-height: 1.6;
  resize: none;
  vertical-align: middle;
  appearance: none;
  text-align: inherit;

  @include breakpoint(md) {
    font-size: $size-content;
  }

  @include breakpoint(lg) {
    border-bottom-width: 2px;
  }

  &:not([rows]) {
    @extend %ellipsis;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &--sm {
    @include breakpoint(lg) {
      border-bottom-width: 2px;
      font-size: calc(#{$size-content} * 0.9);
    }
  }
}

.form__label {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  span {
    margin-left: 0.5em;
    color: $color-gray;
    font-weight: normal;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: $separator * 1.5;
    }
  }

  .form_compact &:not(:first-child) {
    margin-top: $separator;
  }

  &--separated:not(:first-child) {
    @include breakpoint(md) {
      margin-top: $separator * 3;
    }
  }

  &--cta {
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin-top: $separator * 1.5;

      @include breakpoint(md) {
        margin-top: $separator * 2;
      }
    }
  }

  &--center {
    justify-content: center;
  }
}

.form__child {
  align-self: flex-start;
  width: 100%;

  &:not(:first-child) {
    margin-top: $separator;
    margin-left: auto;

    @include breakpoint(md) {
      margin-top: $separator * 1.5;
    }
  }

  @include breakpoint(md) {
    width: 47.5%;

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}

.form__group {
  &:not(:first-child) {
    margin-top: $separator * 1.5;

    @include breakpoint(md) {
      margin-top: $separator * 2;
    }
  }
}

.form__checkbox {
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
  transition: color $transition-duration;

  @include breakpoint(md) {
    font-size: 1.5rem;
  }

  &:hover {
    color: $color-gray-dark;
  }

  [type="checkbox"] {
    display: inline-block;
    margin-right: 0.25em;

    &:focus {
      outline: none;
    }
  }
}

.form__message {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: $separator * 2;
    }
  }

  &[data-status='success'] {
    color: $color-status-success;
  }

  &[data-status='error'] {
    margin-bottom: 2rem;
    color: $color-status-error;
  }

  .popup & {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.form__info {
  color: $color-gray-dark;

  &_success {
    color: $color-status-success;

    a {
      color: $color-status-success;
    }
  }

  &_warning {
    color: $color-status-warning;

    a {
      color: $color-status-warning;
    }
  }

  &_error {
    color: $color-status-error;

    a {
      color: $color-status-error;
    }
  }

  a:hover {
    color: $color-gray-dark;
  }
}

.form__link[href] {
  display: inline-block;
  margin: 0.5em 0;
  color: $color-gray;
  font-size: 0.8em;

  @include breakpoint(md) {
    margin: 0;
    font-size: 1.5rem;
  }
}
