/*
** Module - Nav socials
** -----------------------------------------------------------------------------*/

.nav-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
  }
}

.nav-socials__title {
  margin-right: $separator;
}

.nav-socials__item {
  &:not(:first-child) {
    margin-left: ($separator / 2);
  }
}

.nav-socials__link {
  display: block;
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.5rem;
  border: 1px solid $color-gray-light;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
    opacity: 0.75;
    transform: scale(1.05);
  }
}
