/*
** Module - Page foot
** -----------------------------------------------------------------------------*/

.page-foot {
  a, button {
    &:hover {
      color: $color-black;
    }
  }

  .column {
    margin-top: $separator;

    &:first-child {
      margin-top: 0;
    }

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

.page-foot__heading {
  margin-bottom: $separator / 2;

  @include breakpoint(md) {
    margin-bottom: $separator;
  }
}

.page-foot__description {
  p {
    @include breakpoint(md) {
      &:not(:first-child) {
        margin-top: 1.875em;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  a {
    color: $color-gray-dark;

    &:hover {
      color: $color-black;
    }
  }
}

.page-foot__inner {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-foot__credits {
  user-select: none;

  img {
    display: inline-block;
    margin-left: 1rem;
    max-height: #{$font-line-height}em;
    vertical-align: middle;
    opacity: 0.5;
    transition: opacity $transition-duration;
  }

  a:hover img {
    opacity: 0.9;
  }
}
