/*
** Module - Page head
** -----------------------------------------------------------------------------*/

.page-head {
  @extend %bordered-box;
  z-index: $layer-head;
  margin-bottom: -1px;
  padding-top: $separator * 0.5;
  padding-bottom: $separator * 0.5;
  background-color: $color-section;
  transition-property: padding;
  transition-duration: $transition-duration;

  @include breakpoint(md) {
    padding-top: $separator;
    padding-bottom: $separator;
  }

  @include breakpoint(lg) {
    padding-top: $separator * 1.5;
    padding-bottom: $separator * 1.5;
  }

  &[data-sticky] {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    .admin-bar & {
      @media (min-width: 600px) {
        top: 4.6rem;
      }

      @media (min-width: 782px) {
        top: 3.2rem;
      }
    }

    &.is-condensed {
      padding-top: $separator * 0.5;
      padding-bottom: $separator * 0.5;
    }
  }
}

.page-head__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $head-height;
}

.page-head__logo {
  margin-right: $separator;
  color: $color-primary;
  font-weight: bold;

  @include breakpoint(lg) {
    margin-right: $separator * 2;
  }

  a {
    display: block;

    &:hover {
      color: $color-black;
    }
  }

  img {
    display: inline-block;
    max-height: $head-height;
    max-width: 180px;
    vertical-align: middle;
  }
}

.page-head__cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  .button:not(:first-child) {
    margin-left: 1.5rem;

    @include breakpoint(md) {
      margin-left: $separator;
    }
  }

  .button + .button {
    margin-left: $separator / 2;
  }
}

.page-head__hamburger {
  margin-left: 1.5rem;
}

.page-head__search {
  display: block;
  font-size: 2.2rem;
  line-height: 1;

  &:hover {
    color: $color-black;
  }

  .icon {
    display: block;
  }
}
