/*
** Module - Popup
** -----------------------------------------------------------------------------*/

.popup {
  @include u-overlay;
  z-index: $layer-popup;
  overflow: hidden;
  pointer-events: none;
  transform: translateX(-300%);
  transition: transform 0s $transition-duration;

  .has-popup-open & {
    transform: translateX(0);
    pointer-events: all;
    transition: none;
  }
}

.popup__close {
  position: absolute;
  top: $separator;
  right: $separator;
  z-index: $layer-utils;
  color: $color-black;
  font-size: 2.2rem;
  line-height: 1;
  transition-property: opacity, color;
  transition-duration: $transition-duration * 1.5;

  @include breakpoint(md) {
    font-size: 2.4rem;
  }

  @include breakpoint(lg) {
    top: $separator * 2;
    right: $separator * 2;
  }

  &:hover {
    color: $color-primary;
  }
}

.popup__content {
  position: relative;
  top: -300%;
  padding: $separator;
  margin-top: $separator * 2;
  background-color: $color-section;
  color: $color-black;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  transform: translateY(5%);
  transition: opacity $transition-duration * 1.5, transform $transition-duration * 1.5;

  @include breakpoint(md) {
    padding: $separator * 2;
    margin-top: $separator * 4;
  }

  @include breakpoint(lg) {
    padding: $separator * 3;
    margin-top: $separator * 8;
  }

  .has-popup-open & {
    opacity: 1;
    transform: translateY(0);
  }

  > img {
    width: auto;
    height: auto;
    max-height: 100%;
    margin: auto;
  }

  .form {
    @include breakpoint(md) {
      &:not(:first-child) {
        margin-top: $separator * 2;
      }
    }
  }
}
