/*
** Module - Resource
** -----------------------------------------------------------------------------*/

.resource {
  display: flex;
  flex-direction: column;
  margin-top: -($separator / 2);
  margin-bottom: -($separator / 2);

  @include breakpoint(md) {
    margin-top: -($separator);
    margin-bottom: -($separator);
  }
}

.resource__head,
.resource__main {
  margin-top: $separator / 2;
  margin-bottom: $separator / 2;

  @include breakpoint(md) {
    margin-top: $separator;
    margin-bottom: $separator;
  }
}

.resource__head {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    order: -1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.resource__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resource__image {
  align-self: center;
  margin-top: $separator * 2;

  @include breakpoint(lg) {
    margin-top: 0;
  }
}

.resource__media {
  @include u-object-fit(75%);
  display: block;

  &[href] {
    &:hover {
      opacity: 0.8;
    }
  }
}

.resource__info,
.resource__extras,
.resource__actions {
  &:not(:first-child):not(:empty) {
    margin-top: $separator;
  }
}

.resource__info {
  margin-bottom: auto;
}

.resource__title {
  margin-bottom: 1rem;

  a:hover {
    color: $color-gray-dark;
  }
}

.resource__description {
  font-size: calc(#{$size-content} * 0.9);

  @include breakpoint(md) {
    font-size: $size-content;
  }

  @include breakpoint(lg) {
    padding-right: $separator;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-black;
    }
  }

  img,
  .wp-caption {
    max-width: 100%;
    height: auto !important;
  }

  p {
    &:not(:first-child) {
      margin-top: 0.84em;
    }
  }
}

.resource__tags {
  margin-top: 1rem;

  @include breakpoint(md) {
    margin-top: $separator;
  }
}

.resource__stats {
  color: $color-gray;

  a:hover {
    color: $color-black;
  }
}

.resource__share {
  &:not(:first-child) {
    margin-top: $separator * 2;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}

.resource__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint(lg) {
    justify-content: flex-start;
  }
}

.resource__button {
  &:not(:first-child) {
    margin-left: $separator;
  }
}
