/*
** Module - Search-bar
** -----------------------------------------------------------------------------*/

.search-bar {
  @extend %bordered-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $layer-head + 1;
  padding-top: $separator * 0.5;
  padding-bottom: $separator * 0.5;
  background-color: $color-section;
  transform: translateY(-100%);
  opacity: 0;
  transition-property: transform, opacity, padding;
  transition-duration: $transition-duration * 1.5;

  @include breakpoint(md) {
    padding-top: $separator;
    padding-bottom: $separator;
  }

  @include breakpoint(lg) {
    padding-top: $separator * 1.5;
    padding-bottom: $separator * 1.5;
  }

  .has-search-open & {
    opacity: 1;
    transform: translateY(0);
  }

  .admin-bar & {
    top: 4.6rem;

    @media (min-height: 782px) {
      top: 3.2rem;
    }
  }

  [data-sticky] ~ & {
    position: fixed;
  }

  [data-sticky].is-condensed ~ & {
    padding-top: $separator * 0.5;
    padding-bottom: $separator * 0.5;
  }
}

.search-bar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $head-height;
}

.search-bar__icon {
  display: block;
  font-size: 2.2rem;
  line-height: 1;
  transition: color $transition-duration;

  &:first-child {
    margin-right: $separator;
  }

  &:last-child {
    margin-left: $separator;
  }

  &:hover {
    color: $color-primary;
  }
}

.search-bar__form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 3px 0;
    border-bottom: 1px solid currentColor;
    border-radius: 0;
    color: $color-gray;
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-appearance: none;

    &::placeholder {
      color: $color-gray;
    }

    &:focus {
      outline: none;
    }
  }

  .parsley-errors-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: right;

    @include breakpoint(lg) {
      display: block;
    }

    li {
      font-size: 0.8em;
    }
  }
}

.search-bar__close {
  display: block;
  padding: 1rem;
  margin: -1rem;
  margin-left: 1rem;
  color: $color-black;
  font-size: 2.2rem;
  line-height: 1;

  @include breakpoint(md) {
    margin-left: 1.5rem;
    font-size: 2.4rem;
  }

  &:hover {
    color: $color-primary;
  }
}
