/*
** Module - Section
** -----------------------------------------------------------------------------*/

.section {
  padding-top: $separator * 2;
  padding-bottom: $separator * 2;

  @include breakpoint(md) {
    padding-top: $separator * 4;
    padding-bottom: $separator * 4;
  }

  &--compact {
    padding-top: $separator;
    padding-bottom: $separator;

    @include breakpoint(md) {
      padding-top: $separator * 2;
      padding-bottom: $separator * 2;
    }
  }

  &--double {
    @include breakpoint(lg) {
      padding-top: $separator * 8;
      padding-bottom: $separator * 8;
    }
  }

  &--theme-light {
    @extend %bordered-box;
    background-color: $color-section;
  }

  &--theme-primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--intro + & {
    padding-top: 0;
  }

  &:not([class*="theme"]):not([class*="intro"]) + &:not([class*="theme"]) {
    @extend %bordered-box;
  }
}

.section__separator {
  display: block;

  &:not(:first-child) {
    margin-top: $separator * 2;

    @include breakpoint(md) {
      margin-top: $separator * 4;
    }

    .section--compact & {
      margin-top: $separator;

      @include breakpoint(md) {
        margin-top: $separator * 2;
      }
    }

    .section--double & {
      @include breakpoint(lg) {
        margin-top: $separator * 8;
      }
    }
  }
}

.section__title {
  @include breakpoint(lg) {
    font-size: 5.2rem;
  }
}
