/*
** Module - Stats
** -----------------------------------------------------------------------------*/

.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: -1rem;
}

.stats__item {
  margin-top: 1rem;

  &:not(:last-child) {
    margin-right: 1em;
  }

  a:hover {
    opacity: 0.8;
  }

  .icon {
    margin-right: 0.25rem;
    margin-top: -2px;
    font-size: 1.6rem;
    line-height: inherit;
    vertical-align: middle;

    &.icon--arrow-up {
      font-size: 1.2rem;
    }

    &.icon--pocket {
      transform: translateY(0.05em);
    }
  }

  &--sided {
    flex-grow: 1;
    margin-right: 0;
    text-align: right;
  }
}

.stats__button {
  @extend %link-transition;
  @include loader;
  display: inline-block;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid $color-gray;
  border-radius: 1.5em;
  font-size: 1.4rem;
  line-height: 1;
  cursor: pointer;
  backface-visibility: hidden;

  &:not(.is-active):hover {
    color: $color-primary;
    border-color: $color-primary;
  }

  &.is-active {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }

  .icon {
    display: inline-block;
    backface-visibility: hidden;
  }
}

.stats__tag {
  & + &::before {
    content: ', ';
    color: $color-gray;
  }

  &--dimmed {
    color: lighten($color-gray, 20%);

    &::before {
      color: lighten($color-gray, 20%);
    }
  }
}
