/*
** Module - Tile
** -----------------------------------------------------------------------------*/

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: $grid-column-gutter;
  overflow: hidden;

  &[href]:hover {
    .tile__copy .icon {
      transform: translateX(1rem);
    }

    .tile__image img {
      &:nth-child(2) {
        transform: translateX(33.3%);
      }

      &:nth-child(3) {
        transform: translateX(66.6%);
      }
    }
  }

  &--card {
    background-color: $color-section;
    box-shadow: 0 1px 2px 1px rgba($color-black, 0.1);
    overflow: visible;

    .tile__copy .icon {
      display: none;
    }

    &[href]:hover {
      opacity: 0.9;
    }

    .slick-slide & {
      margin-bottom: 5px;
    }
  }

  &--wide {
    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &--blank {
    background-color: transparent;
    box-shadow: none;

    @include breakpoint(md) {
      margin-bottom: $grid-column-gutter * 2;
    }

    &[href]:hover {
      background-color: transparent;
    }

    &[href]:hover .tile__image,
    &[href]:hover .tile__info {
      opacity: 0.8;
    }
  }
}

.tile__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1.5em);
  margin: 0 -0.75em;

  &.slick-slider {
    display: block;
  }
}

.tile__slider {
  padding: 0 0.75em;
  width: 100%;

  &:focus {
    outline: none;
  }

  .row {
    height: 100%;
  }

  .tile--wide:only-child {
    align-self: flex-start;
  }
}

.tile__image {
  @include u-object-fit(75%);
  background-color: $color-gray-light;
  transition: opacity $transition-duration;

  &[href]:hover {
    opacity: 0.8;
  }

  img,
  svg,
  video,
  audio,
  iframe {
    box-shadow: -2px 0 10px 0 rgba($color-black, 0.25);
    transition: transform $transition-duration ease-in-out 0.05s;

    &:nth-of-type(2) {
      transform: translateX(25%);
    }

    &:nth-of-type(3) {
      transform: translateX(50%);
    }
  }

  .tile--card & {
    position: relative;
    margin-bottom: $separator;
  }

  .tile--wide & {
    @include breakpoint(md) {
      margin-bottom: 0;
      width: 40%;
      box-shadow: 0 1px 2px 1px rgba($color-black, 0.1);
    }

    @include breakpoint(lg) {
      width: 25%;
    }
  }

  &--with-status {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33.3%;
      pointer-events: none;
      background: linear-gradient(to bottom,
        rgba(transparent, 0) 0%,
        rgba($color-black, 0.33 / 5) 25%,
        rgba($color-black, 0.33) 100%);
    }
  }
}

.tile__content {
  @include u-overlay;
  z-index: $layer-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: $separator;
  color: $color-black;

  @include breakpoint(md) {
    padding: $separator * 1.5;
  }

  &--dimmed {
    background-color: rgba($color-black, 0.75);
    color: $color-white;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  .tile--card & {
    position: relative;
  }

  .tile--card:not(.tile--blank) &:not(:first-child) {
    padding: 0 $separator $separator;
  }

  .tile--card.tile--wide &:not(:first-child) {
    @include breakpoint(md) {
      padding: $separator * 1.5;
    }
  }

  .tile--blank & {
    padding: 0;
  }
}

.tile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  transition: opacity $transition-duration;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.tile__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;

  .tile--card & {
    margin-bottom: 1rem;
  }
}

.tile__title {
  flex: 1;
  font-family: $font-heading;
  font-weight: bold;
  line-height: 1.25;
  font-size: 2rem;

  a {
    display: inline-block;

    &:hover {
      color: $color-gray-dark;
    }
  }

  .tile--tile & {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.tile__icon {
  margin-left: 1rem;
  margin-top: 0.1em;
  padding: 0.2em;
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
  transition: color $transition-duration;

  .tile--card & {
    color: $color-gray;

    &:hover {
      color: $color-black;
    }
  }
}

.tile__copy {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  opacity: 0.85;

  span {
    white-space: nowrap;
  }

  .icon {
    font-size: 1.2rem;
    line-height: inherit;
    transition: transform $transition-duration ease-in-out 0.05s;
  }

  small {
    float: right;

    .icon {
      line-height: inherit;
      vertical-align: -0.01em;
    }
  }

  .tile--card & {
    opacity: 1;
  }
}

.tile__stats {
  .tile--card & {
    color: $color-gray;
  }
}

.tile__button {
  align-self: flex-start;
  margin-top: 2rem;

  .tile[href]:hover &,
  &[href]:hover {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}

.tile__status {
  display: block;
  padding: 0.25em 0.75em;
  background-color: $color-gray;
  border-radius: 1.5em;
  color: $color-white;
  font-size: 1.2rem;
  line-height: 1;

  &--publish {
    background-color: $color-status-success;
  }

  &--trash {
    background-color: $color-status-error;
  }

  .tile__image & {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: $layer-base;
  }
}
