/*
** Module - Widget
** -----------------------------------------------------------------------------*/

.widget {
  &:first-child {
    margin-top: 0.33em;
  }

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }

  ul {
    list-style: disc;
    list-style-position: inside;
  }

  p + p {
    margin-top: 0.925em;
  }

  a:hover {
    color: $color-black;
  }
}

.widget__title {
  @extend %heading;
  @extend %heading-sm;
  margin-bottom: ($separator / 2);
}

// Text widget
.widget_text {
  .alignleft,
  .alignright {
    max-width: 10rem;
    height: auto;
    margin-bottom: 0.5em;
  }

  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }
}

// Search widget
.widget_search {
  .screen-reader-text {
    display: none;
  }

  .search-form {
    display: flex;
    align-items: center;

    label {
      flex: 1;
      width: 100%;
    }
  }

  .search-field {
    @extend .form__input;
    @extend .form__input--sm;
  }

  .search-submit {
    margin-left: 0.5em;
    height: 1.25em;
    width: 1.25em;
    background-image: icon('search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -999em;
    opacity: 0.5;
    transition: opacity $transition-duration;

    &:hover {
      opacity: 1;
    }
  }
}
