/*
** Placeholders - Button
** -----------------------------------------------------------------------------*/

%button {
  display: inline-block;
  padding: 0.5em 1.75em;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.4rem;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

%button-rounded {
  border-radius: 1.5em;
}

%button-squared {
  border-radius: 0;
}

%button-primary {
  background-color: $color-primary;
  color: $color-white;

  &:not([disabled]):hover {
    background-color: transparent;
    border-color: currentColor;
    color: $color-primary;
  }
}

%button-primary-outline {
  background-color: transparent;
  border-color: currentColor;
  color: $color-primary;

  &:not([disabled]):hover {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}

%button-secondary {
  background-color: $color-gray;
  color: $color-white;

  &:not([disabled]):hover {
    background-color: transparent;
    border-color: currentColor;
    color: $color-gray;
  }
}

%button-secondary-outline {
  background-color: transparent;
  border-color: currentColor;
  color: $color-gray;

  &:not([disabled]):hover {
    background-color: $color-gray;
    border-color: transparent;
    color: $color-white;
  }
}

%button-white {
  background-color: $color-white;
  color: $color-white;

  &:not([disabled]):hover {
    background-color: transparent;
    border-color: currentColor;
    color: $color-white;
  }
}

%button-white-outline {
  background-color: transparent;
  border-color: currentColor;
  color: $color-white;

  &:not([disabled]):hover {
    background-color: $color-white;
    border-color: transparent;
    color: $color-primary;
  }
}
