/*
** Placeholders - Caption
** -----------------------------------------------------------------------------*/

%caption-text {
  color: $color-gray;
  font-size: 0.75em;
  word-wrap: break-word;
}

%caption-block {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: ($base-spacing / 2) $grid-column-gutter 0;
  text-align: center;
}

%caption-quote {
  display: inline-block;

  &:not(:first-child) {
    margin-top: $base-spacing;
  }

  &::before {
    content: '– ';
  }
}

%caption-separated {
  display: block;

  &::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 1em auto 0;
    background-color: $color-gray-light;

    @include breakpoint(md) {
      content: none;
    }
  }
}

%caption {
  @extend %caption-text;
  @extend %caption-separated;
  padding: $grid-column-gutter $grid-column-gutter 0;
  text-align: center;

  @include breakpoint(md) {
    @include u-overlay;
    @include u-dimmer('bottom', 100%);
    top: auto;
    z-index: $layer-base;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50%;
    margin-top: 0;
    padding: $grid-column-gutter;
    color: $color-white;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;

    &::before {
      z-index: $layer-negative;
    }

    :hover + & {
      opacity: 1;
    }
  }
}
