/*
** Plugin - Members
** -----------------------------------------------------------------------------*/

.members__form {
  margin-top: $separator;
  font-size: calc(#{$size-content} * 0.9);

  @include breakpoint(md) {
    margin-top: $separator * 2;
    font-size: $size-content;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    border-radius: 0;
    color: $color-black;
    font-size: calc(#{$size-content} * 0.9);
    line-height: 1.6;
    resize: none;
    vertical-align: middle;

    @include breakpoint(md) {
      font-size: $size-content;
    }

    @include breakpoint(lg) {
      border-bottom-width: 2px;
    }

    &::placeholder {
      color: $color-black;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  p[class^="login-"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;

    &:not(:first-child) {
      margin-top: $separator * 1.5;
    }

    label {
      color: $color-gray;
    }
  }

  .login-remember {
    font-size: 1.6rem;

    label {
      cursor: pointer;
    }

    input[type="checkbox"] {
      display: inline-block;
      margin-right: 0.5em;

      &:focus {
        outline: none;
      }
    }
  }

  .button-primary {
    @extend .button--primary;
  }

  .forgot-password {
    display: inline-block;
    margin-top: $separator;
    font-size: 1.6rem;
  }
}
