/*
** Plugin - Ratings
** -----------------------------------------------------------------------------*/

.ratings {
  display: flex;
  align-items: center;
  margin-top: auto;

  &:not(:last-child) {
    margin-right: $separator;
  }
}

.ratings__form {
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  &:not(:first-child) {
    margin-left: 0.75em;
  }

  > input {
    position: absolute;
    left: -9999em;
    opacity: 0;
  }
}

.ratings__button {
  color: $color-gray-light;
  padding: 0.1em;
  cursor: pointer;
  transition: color $transition-duration;

  :not(.is-active) > &.is-selected,
  :not(.is-active) > &.is-selected ~ & {
    color: $color-gray;

    .ratings__icon {
      fill: currentColor;
    }
  }

  &.is-active,
  &.is-active ~ & {
    color: $color-primary;

    .ratings__icon {
      fill: currentColor;
    }
  }

  [class]:hover > &,
  [class]:hover > & ~ & {
    color: $color-gray-light;

    .ratings__icon {
      fill: none;
    }
  }

  [class]:hover > &:hover,
  [class]:hover > &:hover ~ & {
    color: $color-primary;

    .ratings__icon {
      fill: currentColor;
    }
  }

  &.is-active {
    animation-name: grow;
    animation-timing-function: ease-in-out;
    animation-duration: $transition-duration * 2;
  }
}

.ratings__icon {
  display: block;
  width: 1em;
  height: 1em;
}

.ratings__result {
  &:not(:first-child) {
    margin-left: 1em;
  }

  strong {
    color: $color-gray-dark;
  }

  small {
    margin-left: 0.5em;
    opacity: 0.5;
  }
}
