/*
** Setup - Mixins
** -----------------------------------------------------------------------------*/

/*
** Calculates column fraction width
**
** @param {Number} $fraction  - Size of the column
** @param {Number} $columns   - Number of the columns
** @param {Boolean} $negative - Is value returned negative
** @param {Unit} $addition    - Extra space to add to the value
**/
@function column($fraction, $columns, $negative: false, $addition: 0px) {
  $gutters: (6: 1, 8: 0.5, 10: 0.25);

  @if $fraction > 1 {
    @return calc(#{$fraction} * 100% + #{$grid-column-gutter * map-get($gutters, $columns)});
  }
  @else {
    @return calc(((#{$fraction} * (100% + #{$grid-column-gutter})) * #{if($negative, -1, 1)}) + #{$addition});
  }
}

/*
** Dropdown
**/
@mixin dropdown() {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: $layer-dropdown;
  padding: 0.25em 1em;
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  box-shadow: 0 1px 2px 1px rgba($color-black, 0.05);
  font-size: 0.9em;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transform: translate3d(-50%, 2rem, 0);
  transition: opacity $transition-duration, transform $transition-duration;

  &--left,
  &--right {
    transform: translate3d(0, 2rem, 0);
  }

  &--left {
    left: 0;
    text-align: left;
  }

  &--right {
    left: auto;
    right: 0;
    text-align: right;
  }
}

/*
** Dropdown open
**/
@mixin dropdown-open($center: false) {
  opacity: 1;
  pointer-events: all;

  @if ($center) {
    transform: translate3d(-50%, 0, 0);
  }
  @else {
    transform: translate3d(0, 0, 0);
  }
}

/*
** Add loading indicator
**/
@mixin loader($size: 1em) {
  > span {
    transition: opacity $transition-duration;
  }

  &.is-loading {
    position: relative;

    > span {
      opacity: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-top: -($size / 2);
      margin-left: -($size / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      border-color: currentColor transparent transparent;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px transparent;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
    }
  }
}

/*
** Add spacing to the section
**/
@mixin spacer($direction, $size: 1, $property: 'margin') {
  @if ($property == 'margin' and $size >= 0) {
    &:not(:#{if($direction == top, first, last)}-child) {
      #{$property}-#{$direction}: $base-spacing;

      @if ($size > 1) {
        @include breakpoint(md) {
          #{$property}-#{$direction}: ($base-spacing * (($size + 1) / 2));
        }

        @include breakpoint(lg) {
          #{$property}-#{$direction}: ($base-spacing * $size);
        }
      }
    }
  }

  @else {
    #{$property}-#{$direction}: $base-spacing;

    @if ($size > 1) {
      @include breakpoint(md) {
        #{$property}-#{$direction}: ($base-spacing * (($size + 1) / 2));
      }

      @include breakpoint(lg) {
        #{$property}-#{$direction}: ($base-spacing * $size);
      }
    }
  }
}
