/*
** Setup - Normalize
** -----------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}

:root {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a,
button,
[type="button"] {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.4em;
}
