/*
** Setup - Variables
** -----------------------------------------------------------------------------*/

// Color definitions
$color-accent:          #F38181 !default;
$color-black:           #333333 !default;
$color-gray-dark:       #666666 !default;
$color-gray:            #808080 !default;
$color-gray-light:      #CDCDCD !default;
$color-gray-lighter:    #E6E6E6 !default;
$color-gray-lightest:   #EDEDED !default;
$color-white:           #FAFAFA !default;

$color-status-success:  #4F8A10 !default;
$color-status-warning:  #9F6000 !default;
$color-status-info:     #369BF8 !default;
$color-status-error:    #F74444 !default;

// Z-indexes
$layer-negative:        -1 !default;
$layer-neutral:         0 !default;
$layer-base:            1 !default;
$layer-utils:           5 !default;
$layer-head:            10 !default;
$layer-nav:             15 !default;
$layer-dropdown:        20 !default;
$layer-popup:           25 !default;

// Font definitions
$font-system:           -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-poppins:          'Poppins', 'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;
$font-menlo:            Menlo, Consolas, monaco, monospace !default;

$font-color:            $color-gray !default;
$font-size:             1.6em !default;
$font-size-content:     2.1rem !default;
$font-line-height:      1.75 !default;

// Dimensions
$head-height:           4rem !default;

// Others
$separator:             2rem !default;
$transition-duration:   0.25s !default;

// Base path for assets
$base-path:             '..' !default;
$base-spacing:          1.75em !default;

// Spacing
$spacers:               (
  1:                      $separator,
  2:                      ($separator * 1.5),
  3:                      ($separator * 2)
) !default;

// Responsive display values
$display-values:        (
  inline,
  inline-block,
  block,
  flex,
) !default;

// Grid container
$grid-column-gutter:    2.4rem !default;
$grid-container-gutter: 2.4rem !default;

// Grid definitions
$grid-breakpoints: (
  sm: (
    min-width: 0,
    container: 450px,
    gutter: $grid-column-gutter,
    columns: 4
  ),
  md: (
    min-width: 680px,
    container: 640px,
    gutter: $grid-column-gutter,
    columns: 6
  ),
  lg: (
    min-width: 980px,
    container: 940px,
    gutter: $grid-column-gutter,
    columns: 12
  )
) !default;

// Customizable colors
$color-primary:         var(--color-primary, #{$color-accent}) !default;
$color-link:            var(--color-link, #{$color-accent}) !default;
$color-background:      var(--color-background, #{$color-gray-lightest}) !default;
$color-section:         var(--color-section, #{$color-white}) !default;

// Customizable fonts
$font-primary:          var(--font-primary, #{$font-system}) !default;
$font-heading:          var(--font-heading, #{$font-system}) !default;
$font-mono:             var(--font-mono, #{$font-menlo}) !default;

// Customizable sizes
$size-content:          var(--size-content, #{$font-size-content}) !default;

// Customizable variables
$border-opacity:        var(--border-opacity, 0.075) !default;
