/*
** Utils - Dropdown
** -----------------------------------------------------------------------------*/

.dropdown {
  [data-dropdown] ~ & {
    @include dropdown;
  }

  [data-dropdown] > & {
    @include breakpoint(lg) {
      @include dropdown;
    }
  }

  .is-open [data-dropdown] ~ & {
    @include dropdown-open;
  }

  .is-open[data-dropdown] > & {
    @include breakpoint(lg) {
      @include dropdown-open(true);
    }
  }
}

.dropdown__trigger {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: -0.75rem;
}

.dropdown__item {
  padding: 0.25rem 0;

  @include breakpoint(lg) {
    white-space: nowrap;
  }

  &--active {
    color: $color-black;
  }
}
