/*
** Utils - Text
** -----------------------------------------------------------------------------*/

.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--content {
    color: $color-gray;
    font-size: 1.6rem;

    a:hover {
      color: $color-black;
    }
  }

  &--separated {
    margin-top: 1em;
  }

  &--subtitle {
    margin-top: $separator;
    margin-bottom: $separator;

    @include breakpoint(lg) {
      margin-bottom: ($separator * 1.5);
    }
  }
}
