/*
** Blocks / Common
** -----------------------------------------------------------------------------*/

.wp-block-button,
.wp-block-code,
.wp-block-preformatted,
.wp-block-categories {
  &:not(:first-child) {
    margin-top: $base-spacing;
  }
}

// Separators
.wp-block-table,
.wp-block-audio,
.wp-block-video,
.wp-block-embed,
.wp-block-image,
.wp-block-cover,
.wp-block-gallery,
.wp-block-columns,
.wp-block-separator {
  &:not(.alignleft):not(.alignright) {
    @include spacer(top);
    @include spacer(bottom);

    &.alignwide,
    &.alignfull {
      @include spacer(top, 2);
      @include spacer(bottom, 2);
    }
  }
}

.wp-block-quote,
.wp-block-pullquote,
.wp-block-verse {
  &:not(.alignleft):not(.alignright) {
    @include spacer(top, 2);
    @include spacer(bottom, 2);
  }
}

// Alignments
$layouts: (6, 8, 10);

.alignnone,
.aligncenter,
.alignleft,
.alignright {
  max-width: 100%;

  a {
    display: inline-block;
  }
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.alignleft {
  @include breakpoint(md) {
    float: left;
    margin-right: $base-spacing;
    text-align: left;
  }

  @include breakpoint(lg) {
    @each $layout in $layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        margin-left: column(((12 - $layout) / 2) / $layout, $layout, true);
      }
    }
  }
}

.alignright {
  @include breakpoint(md) {
    float: right;
    margin-left: $base-spacing;
    text-align: right;
  }

  @include breakpoint(lg) {
    @each $layout in $layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        margin-right: column(((12 - $layout) / 2) / $layout, $layout, true);
      }
    }
  }
}

.alignleft,
.alignright {
  @include breakpoint(md) {
    max-width: 50%;
  }

  @include breakpoint(lg) {
    @each $layout in $layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        max-width: column(((12 - $layout) / 2) / $layout, $layout, false, 50%);
      }
    }
  }

  &:not(:first-child) {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}

.alignwide {
  @include breakpoint(lg) {
    @each $layout in $layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        width: column(12 / $layout, $layout, false);
        margin-left: column(((12 - $layout) / 2) / $layout, $layout, true);
        margin-right: column(((12 - $layout) / 2) / $layout, $layout, true);
      }
    }
  }
}

.alignfull {
  .column[class*="offset"] & {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
