<div class="section{{ (loop is empty) or (loop.index0 % 2 == 0) ? ' section--theme-light' : '' }}">
  <div class="container">
    <article class="resource row">
      <div class="resource__content column column--lg-6">
        <ul class="resource__stats stats">
          {% include '../partials/post-stats.twig' with { collections: 'compact', upvote: true } %}
        </ul>

        <div class="resource__info">
          <h2 class="resource__title heading heading--xl">
            {% if not loop is empty %}
              <a href="#">
            {% endif %}

            Startup Stash

            {% if not loop is empty %}
              </a>
            {% endif %}
          </h2>
          <p class="resource__description">A curated directory of resources & tools to help you build your Startup</p>
        </div>

        <div class="resource__actions">
          <a href="#" class="button button--secondary" target="_blank">Visit website</a>

          <nav class="nav-socials">
            <h4 class="nav-socials__title">Share</h4>
            {% include '../partials/share.twig' %}
          </nav>
          <!-- /.nav-socials -->
        </div>
      </div>

      <aside class="resource__image column column--lg-6">
        <a href="#" target="_blank"><img src="http://placehold.it/640x444?text=Resource" alt="" /></a>
      </aside>
    </article>
    <!-- /.resource -->
  </div>
</div>
<!-- /.section -->
