<h2 class="heading heading--xl text--center">Submit</h2>

<div class="form__message">
  <p class="heading heading--thin">Thank you for your contribution. The submission was sent to the website owners for review.</p>
</div>

<form action="#" method="post" class="form">
  <div class="form__field">
    <div class="form__child">
      <input type="text" name="name" placeholder="Resource name" required>
    </div>

    <div class="form__child">
      <select name="collection" data-placeholder="Collection" class="custom-select" data-parsley-errors-container=".collection-errors" required>
        <option value="">Collection</option>
        <option value="design">Design</option>
        <option value="development">Development</option>
        <option value="technology">Technology</option>
        <option value="products">Products</option>
        <option value="apps">Apps</option>
        <option value="podcasts">Podcasts</option>
      </select>

      <div class="collection-errors"></div>
    </div>
  </div>

  <div class="form__field">
    <div class="form__child">
      <input type="url" name="url" placeholder="Website URL" required>
    </div>

    <div class="form__child">
      <input type="text" name="description" placeholder="Description">
    </div>
  </div>

  <div class="form__field form__field--separated">
    <div class="form__child">
      <input type="text" name="submitter_name" placeholder="Your name" required>
    </div>

    <div class="form__child">
      <input type="email" name="submitter_email" placeholder="Your email" required>
    </div>
  </div>

  <div class="form__field form__field--center">
    <button type="submit" class="button button--secondary">Submit</button>
  </div>
</form>
