{% extends 'layouts/default.twig' %}
{% set pageName = 'Error 404' %}

{% block content %}

  <div class="section section--double">
    <div class="container">
      <div class="error-404 row">
        <div class="column column--lg-6 text--center">
          <h3 class="error-404__title heading heading--lg">404! The page you are looking for couldn’t be found.</h3>
          <a href="#" class="button button--primary">Bring me to the frontpage</a>
        </div>

        <div class="column column--lg-6">
          <div class="error-404__image">
            <img src="images/pic-404.png" alt="" />
          </div>
        </div>
      </div>
      <!-- /.error-404 -->
    </div>
  </div>
  <!-- /.section -->

{% endblock %}
