{% extends 'layouts/default.twig' %}
{% set pageName = 'About' %}

{% block content %}

  <div class="section">
    <div class="container">
      <h3 class="entry__subtitle heading heading--md">About</h3>

      <div class="entry__content content row">
        <div class="entry__column column column--lg-5">
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>

        <div class="entry__column column column--lg-6 column--lg-offset-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>
          <p>Morbi eu arcu ac massa vulputate bibendum quis nec nibh. Duis aliquam luctus lobortis.</p>
        </div>
      </div>
      <!-- /.entry -->

      <div class="separator"></div>

      {% include 'sections/curators.twig' %}
    </div>
  </div>
  <!-- /.section -->

{% endblock %}
