{% extends 'layouts/default.twig' %}
{% set pageName = 'Blog Post' %}

{% block content %}
  {% set post = {
    title: 'Blog post title',
    date: '18. Jan',
    categories: ['General', 'Photography']
  } %}

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="entry__image" style="background-image: url(http://placehold.it/888x540?text=Blog+post)"></div>
        </div>

        <div class="column column--lg-8 column--lg-offset-2">
          <div class="entry__head">
            <ul class="entry__stats stats">
              {% include './partials/post-stats.twig' with { collections: post.categories } %}
            </ul>

            <h1 class="entry__title">{{ post.title }}</h1>

            <div class="entry__author">
              <img alt="" src="http://placehold.it/50x50?text=+" class="avatar avatar-40 photo">
              Posted by <strong>Piotr Kulpinski</strong>
            </div>
          </div>
          <!-- /.entry__head -->

          {% include 'partials/content.twig' %}
        </div>
      </div>

    </div>
  </div>
  <!-- /.section -->

  {% include 'sections/comments.twig' %}
  {% include 'sections/posts.twig' with { title: 'Related', posts: 3 } %}

{% endblock %}
