{% extends 'layouts/default.twig' %}
{% set pageName = 'Search' %}

{% block content %}

  <div class="section section--compact-bottom">

    <div class="container">
      <div class="row">
        <div class="column column--md-3 column--lg-8">
          <h3 class="heading heading--md"><small>Search results for:</small> startup</h3>
        </div>

        <div class="column column--md-3 column--lg-4">
          <div class="search-bar__inner">
            <form action="#" method="get" class="search-bar__form" role="search" novalidate autocomplete="off">
              <input type="search" name="s" placeholder="Search query..." value="startup" required minlength="3">

              <button type="submit" class="search-bar__icon">
                {% include './partials/icon.twig' with { 'icon': 'search' } %}
              </button>
            </form>
          </div>
          <!-- /.search-bar__inner -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.section -->

  {% for i in 1..3 %}
    {% include 'sections/resource.twig' %}
  {% endfor %}

  <div class="section">
    {% include 'sections/pagination.twig' %}
  </div>
  <!-- /.section -->

{% endblock %}
